[Unit]
Description=System Tracking Runners On Langdurige Loopwedstrijden
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/stroll/STROLL
EnvironmentFile=-/home/stroll/STROLL/environment
ExecStart=/home/stroll/STROLL/client.sh ${CVC_SERVER} ${CVC_PORT}
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
