[Unit]
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/root/STROLL
EnvironmentFile=-/root/STROLL/environment
ExecStart=/root/STROLL/client.sh ${CVC_SERVER} ${CVC_PORT}

Restart=always
RestartSec=3

[Install]
WantedBy=default.target
